<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="FlickrController">
  <div id="search_panel">
    <input type="text" name="search_term" ng-model="searchTerm">
    <button type="button" name="search" ng-click="search()">Search</button>
  </div>
  <div id="images">
    <span class="thumbnail" ng-repeat="image in flickrImages">
      <img ng-src="{{image.src}}">
    </span>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="app.js"></script>
  <script src="services.js"></script>
  <script src="controllers.js"></script>
</body>
</html>
